<h2>Create New User</h2>

<form action="<%= users_url %>" method="post">

  <%= auth_token %>

  <label>Username<br>
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <br>

  <label>Password<br>
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Sign Up</button>

</form>